<h2>Reactive Forms Test with nested components</h2>

<div *ngIf="loading">Loading data from service ...</div>
<div *ngIf="!loading">
    <div class="results-box">
        <h4>Results:</h4>
        <pre><code [innerHTML]="results"></code></pre>
    </div>
    <form [formGroup]="form">
        <div class="card">
            <app-hero-details [form]="form"></app-hero-details>
        </div>
        <div class="card">
            <app-hero-powers
                [form]="form"
            ></app-hero-powers>
        </div>
        <button (click)="save()" type="button" class="btn btn-primary btn-large btn-block">Save</button>
    </form>
</div>